{% extends 'short_url/__base.html' %}


{% block content %}
{% if messages %}
    <div class="alert alert-warning">
        <div class="container">
            {% for message in messages %}
              {{ message }}
            {% endfor %}       
        </div>
    </div>
{% endif %}
<br>
<div class='container'>
    <div class="row justify-content-md-center">
        <div class="col-md-6 form-block">
            <h3 class="mb-3 text-center">{{ title|escape }}</h3>
            <form id="url-form">
                <div class="form-group" id="form-group-long_url">
                    <label for="exampleInputEmail1">URL*:</label>
                    <input type="url" name="long_url"class="form-control" id="exampleInputEmail1" placeholder="Введите url">
                    <small id="form-group-url" class="form-group-error form-text text-muted"></small>
                </div>
                <div class="form-group" id = "form-group-short_url_subpart">
                    <label for="exampleInputPassword1">SUBPART (по желанию):</label>
                    <input type="text" name="short_url_subpart" class="form-control" id="exampleInputPassword1" placeholder="subpart (по желанию)">
                    <small id="form-group-subpart" class="form-group-error form-text text-muted"></small>
                </div>
                   
                <button type="submit" class="btn btn-primary submit-btn">Получить ссылку</button>
            </form>

        </div>
    </div>
</div>
<div class='container' id="url-container">
    
</div>

   <h1 id="user-id">{{ user_id }}</h1>    
{% endblock content %}

{% block javascript2 %}
<script>
$(document).ready(function(){
    var userId = $('#user-id').text();
    var listCreateUrl = `/api/${ userId }`;
    // var retrieveUrl = `/api/${ objUrl }`
    var $urlForm = $('#url-form');

    if ( userId ) {
        get( listCreateUrl ).then( function(data) {
            setListOfUrlForCurrentUser(data)
        }).catch( function() {
             console.log(`status: ${status}, response: ${response}`);
        });
           
    }

    function setListOfUrlForCurrentUser( data ) {
        var $urlContainer = $('#url-container');
        data.forEach( (item, index) => {
            $urlContainer.append (
                `<div class="row justify-content-md-center url-block">
                    <div class="col-md-7 data-url-block">
                    <time class="bitlink-item--created-date" datetime="2019-06-28">Jun 28</time>
                        <p>${ item.created }</p>
                        <p>${ item.long_url }</p>
                        <p><a href="${ item.long_url }">${ item.short_url_subpart }</a></p>
                    </div>
                </div>`
            );
        });
    }

    $urlForm.submit(function(event){
        event.preventDefault();
        var $formData = $(this).serializeArray();
        jsonData = SerializeArrayToJson($formData);
        
        post( '/api/', jsonData )
            .then( function(res) {
                console.log(reg.statusText);
            })
            .catch(function(error) {
                setValidationError(error);
                console.log(error);


        })   
    })
})

function setValidationError(error){
    err = error.response;
    $('.form-group-error').remove()
    for ( var key in err ) {
        newEl = $( "<small>" ,{
            class: 'form-group-error form-text text-danger ',
            text: err[ key ]
        });
        console.log( err[ key ] )
        console.log($('#form-group-' + key))
        $('#form-group-' + key).append(newEl);
    }
}

function SerializeArrayToJson(formData) {//serialize data function
    var data = {};
    for (var i = 0; i < formData.length; i++){
        data[formData[i]['name']] = formData[i]['value'];
    }

    data.user_id = $('#user-id').text();
        return JSON.stringify(data)
    }


function get( url ) {
    return new Promise(function(resolve, reject) {
        var reg = new XMLHttpRequest();
        reg.open('GET', url, true);
        reg.onload = function() {
            if (reg.readyState == 4 && reg.status == 200) {
                // console.log(reg.statusText)
                // console.log(reg.response)
                resolve(JSON.parse(reg.response));
            } else {
                // console.log('reg.readyState = ',reg.readyState)
                // console.log('reg.status = ',reg.status)
                reject({
                    status: this.status,
                    response: JSON.parse(reg.response)
                });
            }
        };
        reg.onerror = function() {
            reject(Error('Network Error'));
        };
        reg.send(null);
    })
}

function post(url, data) {
    return new Promise(function(resolve, reject) {
        var reg = new XMLHttpRequest();
        reg.open('POST', url, true);
        reg.setRequestHeader('Content-type','application/json; charset=utf-8');
        reg.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

        reg.onload = function() {
            if (reg.readyState == 4 && reg.status == 201) {
                // console.log(reg.statusText)
                // console.log(reg.response)
                resolve(reg.statusText);
            } else {
                console.log('reg.readyState = ',reg.readyState)
                console.log('reg.status = ',reg.status)
                reject({
                    status: this.status,
                    response: JSON.parse(reg.response)
                });
            }
        };
        reg.onerror = function() {
            reject(Error('Network Error'));
        };
        reg.send(data);
    })
}

</script>
{% endblock javascript2 %}